@import url("./vendor/library.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 87.5%;
  height: 100%;
  scroll-padding-top: 5rem; /* height of sticky header */
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
